<h1>Hier entsteht der Blog von Stefan und Lydia ...</h1>

<div class="master" class="container color-dark">
  <div class="col">
      <p>Blogeinträge ({{itemCount}})</p>
  </div>
  <div class="detail" class="col">
    <p>Blogeintrag</p>
  </div>
</div>

<div class="container color-light" [@blogEntries]="blogEntries.length">
  <div class="master" class="col">
    <p class="life-container" *ngFor="let blogEntry of blogEntries" (click)="onSelect(blogEntry)">
      {{blogEntry.name}}
    </p>
  </div>
  <!-- <select [(ngModel)]="selectedValue">
    <option *ngFor="let blogEntry of blogEntries" [ngValue]="blogEntry">{{blogEntry.name}}</option>
  </select> -->
  <div class="detail" *ngIf="selectedBlogEntry" class="col">
    <h2>{{ selectedBlogEntry.name | uppercase }}</h2>
    <div>{{selectedBlogEntry.text}}</div>
    <div style="text-align: right; color: red;">
      <p>{{selectedBlogEntry.author}}</p>
    </div>
    <img width="50%" height="50%" 
        *ngFor="let path of selectedBlogEntry.imagePaths" 
        [src]="path">
  </div>
</div>
